@model EFManyToManyRelationships.Models.Student

@{
   ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
   <h4>Student</h4>
   <hr />
   <dl class="row">
      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Name)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Name)
      </dd>
   </dl>
   <h5>Teachers</h5>
   <table class="table">
      <tbody>
         @foreach (var teacher in Model.Teachers)
         {
            <tr>
               <td>
                  @Html.DisplayFor(modelItem => teacher.Name)
               </td>
               <td>
                  <a asp-controller="Teachers" asp-action="Details" asp-route-id="@teacher.Id">Details</a>
               </td>
            </tr>
         }
      </tbody>
   </table>
</div>
<div>
   <a asp-action="Index">Back to List</a>
</div>
